*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
 
 .container{
     max-width: 1105px;
     margin: 0 auto;
 }

.header{
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}  
.nav-li{
    display: inline-block;
    list-style: none;
}
.nav-li:not(:last-of-type){
    margin-right: 90px;
}
.nav-link{
    color: black;
    text-decoration: none;
    
    
    

}
.nav-link:hover{
    color: #FA4A0C;
}
.home1{
    color: #FA4A0C;
}

 .App{
     background-image: url('../img/back1.png');
     color: white;
     text-align: center;
     padding: 80px 0px 162px 0px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
.App-pretP{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.App-title{
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 750px;
    margin: 10px auto;

}
.App-text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 54px;
}
.button{
    width: 236px;
    height: 68px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    
}
.button:first-of-type{
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
    margin-right: 67px;
}
.button:last-of-type{
    background: none;
    border: 1px solid white;
}

.App2{
    background-image: url('../img/Back2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 137px 0px 132px 0px;
    
}
.Ord{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    color: white;
    margin-bottom: 10px;
}
.available{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 49px;

}


.butPlay{

    padding: 18px 31px;
    background-color:  #FA4A0C;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: white;
    margin-right: 20px;
}
.butApp{
    padding: 16px 45px;
    border-radius: 10px;
    background: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: white;
}
.Works{
    text-align: center;
    padding: 56px;
    padding-bottom: 106px;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.mobile-pretitle{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
    padding: 7px;
}
.mobile-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;  
    max-width: 560px;
    padding: 7px;
}
.mobile-text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 400px;
    padding: 7px;
  
}
.mobile1{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    
}

.foo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 250px;
}